.hidden {
    display: none !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .switch span {
    color: #000;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A50;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #303;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0A0;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .linear, .log {
      position: absolute;
      top: 8px;
  }
  
  .linear {
      right: 10px;
  }
  
  .log {
      left: 10px; 
      opacity: 0; 
  }
  
  input:checked ~ .log {
      opacity: 1;
  }
  
  input:checked ~ .linear {
      opacity: 0;
  }

.dropdown {
    position: relative; 
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #404; 
    color: white;
    padding: 10px; 
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none; 
    background-color: transparent; 
    width: 100%;
    box-shadow: none; 
  }
  
  .dropdown-content, .dropdown-content { 
    display: none; 
  }

.inputContainer {
  display: flex;                  
  flex-direction: row;            
  flex-wrap: nowrap;              
  overflow-x: auto;               
  border: 1px solid #000;         
  max-width: fit-content;        
}

.allocationItem {
  margin-right: 0px;            
  border-left: 3px solid #ccc;  
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  display: flex;                 
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;           
}

.allocationItem div {
  display: flex;        
  align-items: center;  
}

.entry label {
  text-align: left; 
  white-space: nowrap;  
  overflow: hidden;     
  text-overflow: ellipsis;  
  color: #000;
}

.entry input {
  text-align: right;
  margin-left: auto;
  background-color: #222;
}

#startAmount, #ScenarioInput {
  background-color: #0A0;
  border: 3px solid #ccc;
  margin: 1em;
  margin-left: 0;
  display: inline-block;
}

.allocationItem:last-child {
  border-right: 3px solid #ccc;  
}

.allocationItem[allocvalid="true"] {
  background-color: #0A0;
}

.allocationItem[allocvalid="false"] {
  background-color: #A00;
}

.allocationItem .header {
  display: flex;
  justify-content: space-between;
}

.header p {
  color: #000;
}

canvas {
  background-color: #222;
}

body {
  background-color: #222;
}

* {
  color: #ccc;
  font-size:large;
}

button {
  background-color: #404;
  border-radius: 1em;
  border: 0;
  box-shadow: none;
  color: #ccc;
  margin: 1em;
  border: 0.125em solid #CCC;
}

.dropdown button {
  border-radius: 0;
}